.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
}

.site-header a {
  color: #fff;
  font-size: $h5;
  font-weight: 300;
  transition: all 0.2s ease-in;
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: #fff;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: rgba(255,255,255,.7);
}

.site-nav a + a {
  margin-left: 1em;
}

//.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
  background-color: $header-bg-color;
  box-shadow: $color-bg-shadow;
}

.site-header .site-nav {
  text-align: center;
}

.social-icons .left, .social-icons .right {
  text-align: center;
  float: none;
}

.site-header i.fa.fa-code-fork {
  background-color: #fff;
  color: $header-bg-color;
  padding: .3em .5em;
  border-radius: 3px;
  border: 2px solid #fff;
  transition: all 0.2s easy-in;
  &:hover {
    background-color: $header-bg-color;
    color: #fff;
  }
}




